#img-project1{
    background-image: url(../../img/projets/star-hunt/annonce-sortie.gif);
    background-size: cover;
}
#img-project2{
    background-image: url(../../img/projets/star-hunt/concour.gif);
    background-size: cover;
}