#img-project1{
    background-image: url(../../img/projets/azenbourg/visuel-carte.png);
    background-size: cover;
}
#img-project2{
    background-image: url(../../img/projets/azenbourg/boite.png);
    background-size: cover;
}
#img-project3{
    background-image: url(../../img/projets/azenbourg/jeton-gel.png);
    background-size: cover;
}
#img-project4{
    background-image: url(../../img/projets/azenbourg/jeton-reel.png);
    background-size: cover;
}