#img-project1{
    background-image: url(../../img/projets/stand-tir/facade.png);
    background-size: cover;
}
#img-project2{
    background-image: url(../../img/projets/stand-tir/arriere.png);
    background-size: cover;
}