
/******************** General ********************/

@font-face {
    font-family: 'titre-Light';
    src: url('../../font/Source_Sans_Pro/SourceSansPro-Light.ttf');
}
@font-face {
    font-family: 'titre-Bold';
    src: url('../../font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

@font-face {
    font-family: 'Labeur-Regular';
    src: url('../../font/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: 'Labeur-Bold';
    src: url('../../font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}
@font-face {
    font-family: 'Labeur-SemiBold';
    src: url('../../font/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}

html{
    font-size: 17px;
    padding: 0;
}

body{
    font-size: 17px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #EAE1DA;
    font-family: Labeur-Regular;
}
h1, h2, h3{
    font-family: titre-Light;
    font-weight: bold;
}

ul{
    margin-top: 17px;
    margin-bottom: 17px;
    list-style-type: none;
    padding-left: clamp(0.8em, 1.2vw, 6.6em);
}

a {
    color: #006678;
    text-decoration: none;
}

.labeur-bold{
    font-family:Labeur-Bold !important; 
}

/******************** Header ********************/

.button-back{
    left: clamp(1em, 1.5vw, 7.5em);
    top: clamp(1em, 1.5vw, 7.5em);
    position: fixed;
    width: clamp(1.92em, 2.88vw, 14.4em);
    height: clamp(1.92em, 2.88vw, 14.4em);
    border-radius: 50%;
    background-color: rgba(255, 250, 246, 0.6);
    transition-duration: 0.3s;
    z-index: 100;
}
.button-back:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.svg-arrow{
    height: clamp(2em, 3vw, 15em);
    width: clamp(2em, 3vw, 15em);
}
.path-arrow{
    transform: translate(11px, 11px);
}


.circle::after{
    content: '';
    padding-bottom: 100%;
    display: block;
} 
@media screen and (min-width: 690px){
    .circle{
        width: 65%;
        border-radius: 50%;
        background-color: #D2C0B1;
        position: absolute;
        left: -20%;
        top: 10%
    }
}
@media screen and (max-width: 690px){
    .circle{
        width: 200%;
        border-radius: 50%;
        background-color: #D2C0B1;
        position: absolute;
        left: -130%;
        top: 25vw
    }
}


/******************** tab bar ********************/

.container-tabs{
    margin-bottom: clamp(4px, 2%, 80px);
}

@media screen and (min-width: 900px){
    .container-all{
        width: 80vw;
        margin: auto;
    }
    .container-tabs{
        display: flex;
        width: 80%;
        margin: auto;
        align-items: center;
        margin-bottom: clamp(4px, 2%, 80px);
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    .container-all{
        width: 95vw;
        margin: auto;
    }
    .container-tabs{
        display: flex;
        width: 80%;
        margin: auto;
        align-items: center;
    }

}
@media screen and (max-width: 690px){
    .container-all{
        width: 95vw;
        margin: auto;
    }
    .container-tabs{
        display: flex;
        width: 100%;
        margin: auto;
        align-items: center;
    }

}

.nav-tabs{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-left: clamp(4px, 2%, 80px);
    margin-right: clamp(4px, 2%, 80px);
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none; // IE 10+
    overflow: -moz-scrollbars-none; // Firefox
        
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}
.nav-tabs>li>a {
    border: none;
    color: #474747;
}
.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: #006678 !important;
    background: transparent;
}
.nav-tabs>li>a::after {
    content: "";
    background: #006678;
    height: 0.25vw;
    min-height: 1.75px;
    position: absolute;
    width: 60%;
    margin: 0% 20% 0% 20%;
    left: 0px;
    bottom: 1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
    border-radius: 0.1em;
}
.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);  
}
.tab-nav>li>a::after {
    background: #006678 none repeat scroll 0% 0%;
    color: #fff;
}
.tab-pane {
    padding: 15px 0;
}
.tab-content {
    padding: 20px
}

.nav-tabs::-webkit-scrollbar {
    display: none; // Safari and Chrome
}
.card {
    background: none repeat scroll 0% 0%;
    margin-bottom: 30px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: none !important;
}
.nav-tabs {
    border: none;
}
legend {
    border: none;
}

.texte-tabs{
    font-size: clamp(1.1em, 1.5vw, 8em);
    margin: 0;
    white-space: nowrap;
}

.scroll-right{
    transition-duration: 0.3s;
    height: clamp(2em, 3vw, 15em);
    transform: rotate(180deg);
    cursor: pointer;
}
.scroll-right:hover{
    transform: scale(1.2) rotate(180deg);
}

.scroll-left{
    transition-duration: 0.3s;
    height: clamp(2em, 3vw, 15em);
    cursor: pointer;
}
.scroll-left:hover{
    transform: scale(1.2); 
}



/******************** Container ********************/

.container-title-project{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: clamp(35px, 3.5%, 175px);
    margin-top: clamp(70px, 7%, 350px);
}
.title-img{
    width: clamp(1.95em, 3.6vw, 16.5em);
    height: auto;
}
.title-project{
    margin: 0;
    color: #2C302E;
    font-size: clamp(1.2em, 2.2vw, 10em);
}
.vertical { 
    border-left-width: 0.25vw; 
    border-left-style: solid;
    border-left-color: #474747;
    border-radius: 0.1vw;
    margin-left: clamp(4px, 2%, 80px);
    margin-right: clamp(4px, 2%, 80px);
}
.content-title{
    font-size: clamp(1.1em, 1.5vw, 8em);
    color: #474747;
    margin: 0;
}
.content-list{
    font-size: clamp(0.8em, 1.2vw, 6.6em);
    color: #474747;
    margin: 0;
}

@media screen and (min-width: 900px){
    .container-info{
        display: flex;
        width: 80vw;
        margin: auto;
        margin-bottom: clamp(35px, 3.5%, 175px);
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: center;
        align-content: center;
        overflow: hidden;
    }
    .container-info-phone{
        display: none;
    }
    .column-info{
        width: 40%;
    }
    .content-text{
        font-size: clamp(0.8em, 1.2vw, 6.6em);
        padding-left: clamp(0.8em, 1.2vw, 6.6em);
        padding-bottom: clamp(0.464em, 0.7vw, 3.828em);
        padding-top: clamp(0.4em, 0.6vw, 3.3em);
        color: #474747;
        margin: 0;
    }
    .link-info{
        width: clamp(0.8em, 1.2vw, 6.6em);
        margin-left: clamp(0.2em, 0.3vw, 1.65em);
        vertical-align: center;
    }
    .text-link{
        font-family: Labeur-SemiBold;
    }
    
    
    .visual-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: clamp(35px, 3.5%, 175px);
        width: 80vw;
        overflow: hidden;
    }
    .container-visual{
        margin: 0;
        margin: 2vw;
    }
    .info-visual{
        margin: 0;
        width: 30vw;
        text-align: right;
        font-size: clamp(0.8em, 1.2vw, 6.6em); 
        color: #474747;
    }
    .img-visual{
        margin: 0;
        height: 30vw;
        width: 30vw;
        border-radius: clamp(1.2em, 0.6vw, 9.9em);
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    .container-info{
        display: flex;
        width: 95vw;
        margin: auto;
        margin-bottom: clamp(35px, 3.5%, 175px);
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: center;
        align-content: center;
        overflow: hidden;
    }
    .container-info-phone{
        display: none;
    }
    .column-info{
        width: 40%;
    }
    .content-text{
        font-size: clamp(0.8em, 1.2vw, 6.6em);
        padding-left: clamp(0.8em, 1.2vw, 6.6em);
        padding-bottom: clamp(0.464em, 0.7vw, 3.828em);
        padding-top: clamp(0.4em, 0.6vw, 3.3em);
        color: #474747;
        margin: 0;
    }
    .link-info{
        transition: transform 0.5s;
        width: clamp(0.8em, 1.2vw, 6.6em);
        vertical-align: center;
    }
    .text-link{
        font-family: Labeur-SemiBold;
    }
    .svg-link{
        display: none;
    }
    
    .visual-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: clamp(35px, 3.5%, 175px);
        width: 90vw;
        overflow: hidden;
    }
    .container-visual{
        margin: 0;
        margin: 2vw;
    }
    .info-visual{
        margin: 0;
        width: 40vw;
        text-align: right;
        font-size: clamp(0.8em, 1.2vw, 6.6em); 
        color: #474747;
    }
    .img-visual{
        margin: 0;
        height: 40vw;
        width: 40vw;
        border-radius: clamp(1.2em, 0.6vw, 9.9em);
    }
}
@media screen and (max-width: 690px){
    .container-info{
        display: none;
    }
    .container-info-phone{
        display: flex;
        width: 80vw;
        margin: auto;
        margin-bottom: clamp(35px, 3.5%, 175px);
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: hidden;
    }
    
    .vertical-info{
        display: none;
    }
    .column-info{
        width: 100%;
    }
    .content-text{
        font-size: clamp(0.8em, 1.2vw, 6.6em);
        padding-left: clamp(0.8em, 1.2vw, 6.6em);
        padding-bottom: clamp(0.8em, 1.2vw, 6.6em);
        padding-top: clamp(0.4em, 0.6vw, 3.3em);
        color: #474747;
        margin: 0;
    }
    .text-link{
        font-family: Labeur-SemiBold;
    }
    .svg-link{
        display: none;
    }
    
    
    .visual-flex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: clamp(35px, 3.5%, 175px);
        width: 80vw;
        overflow: hidden;
    }
    .container-visual{
        margin: 0;
        margin: 2vw;
    }
    .info-visual{
        margin: 0;
        width: 60vw;
        text-align: right;
        font-size: clamp(0.8em, 1.2vw, 6.6em); 
        color: #474747;
    }
    .img-visual{
        margin: 0;
        height: 60vw;
        width: 60vw;
        border-radius: clamp(1.2em, 0.6vw, 9.9em);
    }
}
    /********** button-top **********/

.button-top{
    right: clamp(1em, 1.5vw, 7.5em);
    bottom: clamp(1em, 1.5vw, 7.5em);
    position: fixed;
    width: clamp(1.92em, 2.88vw, 14.4em);
    height: clamp(1.92em, 2.88vw, 14.4em);
    border-radius: 50%;
    background-color: rgba(255, 250, 246, 0.6);
    transition-duration: 0.3s;
    z-index: 100;
}
.button-top:hover{
    transform: scale(1.2);
}
.svg-arrow{
    height: clamp(2em, 3vw, 15em);
    width: clamp(2em, 3vw, 15em);
}
.path-arrow{
    transform: translate(10px, 11px);
}
#header{
    position: absolute;
    z-index: -100;
    content: "";
    left: 0px;
    top: 0px;
}

/******************** footer ********************/


footer{
    background-color: #EAE1DA;
}

.text-footer{
    position: relative;
    color:#FFFAF6;
    z-index: 100;
    font-family: titre-Light;
    font-size: clamp(0.8em, 1.2vw, 6.6em);
    width: 100%;
    text-align: center;
    margin: 0;
    top: 90%;
    transform: translateY(-90%);

}
@media screen and (min-width: 900px){
    .container-footer{
        height: calc(100vw / 8);
        background-image: url(../../img/waveFooter.png);
        background-size: cover;
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    .container-footer{
        height: calc(100vw / 8);
        background-image: url(../../img/waveFooterPhone.png);
        background-size: cover;
    }
}
@media screen and (max-width: 690px){
    .container-footer{
        height: calc(100vw / 5.538);
        background-image: url(../../img/waveFooterPhone.png);
        background-size: cover;
    }

}


/**

.tabs {
	display: flex;
	flex-wrap: wrap; 
}
.tabs label {
	order: 1;
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: #90CAF9;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; 
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}




body {
  background: #eee;
  min-height: 100vh;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 112%;
}

*/
