#img-project1{
    background-image: url(../../img/projets/grand-projet/maquette-1.png);
    background-size: cover;
}
#img-project2{
    background-image: url(../../img/projets/grand-projet/maquette-2.png);
    background-size: cover;
}