#img-project1{
    background-image: url(../../img/projets/infographie/model.png);
    background-size: cover;
}
#img-project2{
    background-image: url(../../img/projets/infographie/affiche.png);
    background-size: cover;
}
#img-project3{
    background-image: url(../../img/projets/infographie/affiche-marge.png);
    background-size: cover;
}
#img-project4{
    background-image: url(../../img/projets/infographie/calques.png);
    background-size: cover;
}