#img-project1{
    background-image: url(../../img/projets/laborator/environement-travail.png);
    background-size: cover;
}
#img-project2{
    background-image: url(../../img/projets/laborator/exemple-menu.png);
    background-size: cover;
}
#img-project3{
    background-image: url(../../img/projets/laborator/exemple-niveau.png);
    background-size: cover;
}
#img-project4{
    background-image: url(../../img/projets/laborator/menu-pause.png);
    background-size: cover;
}