#img-project1{
    background-image: url(../../img/projets/hardsite/festival.png);
    background-size: cover;
}
#img-project2{
    background-image: url(../../img/projets/hardsite/rand-d.png);
    background-size: cover;
}
#img-project3{
    background-image: url(../../img/projets/hardsite/memory.png);
    background-size: cover;
}
#img-project4{
    background-image: url(../../img/projets/hardsite/mdp.png);
    background-size: cover;
}