
/******************** General ********************/

@font-face {
    font-family: 'titre-Light';
    src: url('../font/Source_Sans_Pro/SourceSansPro-Light.ttf');
}
@font-face {
    font-family: 'titre-Bold';
    src: url('../font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

@font-face {
    font-family: 'Labeur-Regular';
    src: url('../font/Source_Serif_Pro/SourceSerifPro-Regular.ttf');
}
@font-face {
    font-family: 'Labeur-Bold';
    src: url('../font/Source_Serif_Pro/SourceSerifPro-Bold.ttf');
}
@font-face {
    font-family: 'Labeur-SemiBold';
    src: url('../font/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf');
}

html{
    font-size: 17px;
    padding: 0;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #EAE1DA;
    font-family: Labeur-Regular;
}
h1, h2, h3{
    font-family: titre-Light;
    font-weight: bold;
}

a {
    color: #006678;
    text-decoration: none;
}


/******************** Header ********************/

.button-back{
    left: clamp(1em, 1.5vw, 7.5em);
    top: clamp(1em, 1.5vw, 7.5em);
    position: fixed;
    width: clamp(1.92em, 2.88vw, 14.4em);
    height: clamp(1.92em, 2.88vw, 14.4em);
    border-radius: 50%;
    background-color: rgba(255, 250, 246, 0.6);
    transition-duration: 0.3s;
    z-index: 100;
}
.button-back:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.svg-arrow{
    height: clamp(2em, 3vw, 15em);
    width: clamp(2em, 3vw, 15em);
}
.path-arrow{
    transform: translate(11px, 11px);
}

.circle::after{
    content: '';
    padding-bottom: 100%;
    display: block;
} 
@media screen and (min-width: 690px){
    .circle{
        width: 65%;
        border-radius: 50%;
        background-color: #D2C0B1;
        position: absolute;
        left: -20%;
        top: 10%
    }
}
@media screen and (max-width: 690px){
    .circle{
        width: 200%;
        border-radius: 50%;
        background-color: #D2C0B1;
        position: absolute;
        left: -130%;
        top: 25vw
    }
}

/******************** Container ********************/

.container-title-project{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: clamp(35px, 3.5%, 175px);
    margin-top: clamp(70px, 7%, 350px);
}
.title-img{
    width: clamp(1.95em, 3.6vw, 16.5em);
    height: auto;
}
.page-title{
    margin: 0;
    margin-left: clamp(1px, 0.5%, 20px);
    color: #2C302E;
    font-size: clamp(1.2em, 2.2vw, 10em);
}

.project-img-text{
    position: relative;
    display: flex;
    flex-direction: column;
}
.opacity-project{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: clamp(1.2em, 0.6vw, 9.9em);
    transition: transform 0.2s;
}
.text-project{
    position: absolute;
    bottom: 0;
    padding-left:1vw;
    padding-bottom:1vw;
}
.title-project{
    font-size: clamp(1.1em, 1.5vw, 8em);
    font-family: titre-Light; 
    margin: 0;
    vertical-align: bottom;
}
.info-project{
    font-size: clamp(0.8em, 1.2vw, 6.6em);
    font-family: titre-Light; 
    color: #FFFAF6;
    margin: 0;
    vertical-align: bottom;
}
.date-project{
    color: #FFFAF6;
    font-family: titre-Light;
    font-size: clamp(0.8em, 1.2vw, 6.6em);
    font-weight: normal;

}
.svg-more-projects{
    width: clamp(1.6em, 2.4vw, 13.2em);
}
.container-link-project{
    margin-top: clamp(0.8em, 1.2vw, 6.6em);
    text-align: center;
}


#img-project1{
    background-image: url(../img/projets/azenbourg/carte-expo.png);
    background-size: cover;
}
#img-project2{
    background-image: url(../img/projets/porfolio/maquette-hp.png);
    background-size: cover;
}
#img-project3{
    background-image: url(../img/projets/laborator/firepunch.png);
    background-size: cover;
}
#img-project4{
    background-image: url(../img/projets/grand-projet/dc-logo-modif.png);
    background-size: cover;
}
#img-project5{
    background-image: url(../img/projets/infographie/affiche-hp.png);
    background-size: cover;
}
#img-project6{
    background-image: url(../img/projets/book-competence/book-hp.png);
    background-size: cover;
}
#img-project7{
    background-image: url(../img/projets/affiche/titre.png);
    background-size: cover;
}
#img-project8{
    background-image: url(../img/projets/stand-tir/facade-projet.png);
    background-size: cover;
}
#img-project9{
    background-image: url(../img/projets/hardsite/hardSite-HP.png);
    background-size: cover;
}


@media screen and (min-width: 900px){
    .container-opacity-text{
        opacity: 0;
        transition: opacity 0.2s;
    }
    .line-projects{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .container-projects{
        width: 80vw;
        margin: auto;
        overflow:hidden;
    }
    .link-project{
        margin: 1vw;
    }
    .img-project{
        height: 20vw;
        width: 20vw;
        border-radius: clamp(1.2em, 0.6vw, 9.9em);
        transition: transform 0.2s;
    }
    .text-project{
        position: absolute;
        bottom: 0;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    
    .container-opacity-text{
        opacity: 1;
        transition: opacity 0.2s;
    }
    .line-projects{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .container-projects{
        width: 90vw;
        margin: auto;
        overflow:hidden;
    }
    .link-project{
        margin: 0.5vw;
    }
    .img-project{
        height: 25vw;
        width: 25vw;
        border-radius: clamp(1.2em, 0.6vw, 9.9em);
        transition: transform 0.2s;
    }
    .text-project{
        position: absolute;
        bottom: 0;
        padding-left: 2vw;
        padding-bottom: 2vw;
    }
    .title-project-to-large{
        width: 77.5%;
    }
}
@media screen and (max-width: 690px){
    
    .container-opacity-text{
        opacity: 1;
        transition: opacity 0.2s;
    }
    .line-projects{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .container-projects{
        width: 80vw;
        margin: auto;
        overflow:hidden;
    }
    .link-project{
        margin: 1.5vw;
    }
    .img-project{
        height: 70vw;
        width: 70vw;
        border-radius: clamp(1.2em, 0.6vw, 9.9em);
        transition: transform 0.2s;
    }
    .text-project{
        position: absolute;
        bottom: 0;
        padding-left: 3vw;
        padding-bottom: 3vw;
    }
}

.opacity{
    opacity:1;
}
.scale{
    transform: scale(1.1);
}

/******************** footer ********************/


footer{
    background-color: #EAE1DA;
}

.text-footer{
    position: relative;
    color:#FFFAF6;
    z-index: 100;
    font-family: titre-Light;
    font-size: clamp(0.8em, 1.2vw, 6.6em);
    width: 100%;
    text-align: center;
    margin: 0;
    top: 90%;
    transform: translateY(-90%);

}
@media screen and (min-width: 900px){
    .container-footer{
        height: calc(100vw / 8);
        background-image: url(../img/waveFooter.png);
        background-size: cover;
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    .container-footer{
        height: calc(100vw / 8);
        background-image: url(../img/waveFooterPhone.png);
        background-size: cover;
    }
}
@media screen and (max-width: 690px){
    .container-footer{
        height: calc(100vw / 5.538);
        background-image: url(../img/waveFooterPhone.png);
        background-size: cover;
    }

}
