
/******************** General ********************/

@font-face {
    font-family: 'titre-Light';
    src: url('../font/Source_Sans_Pro/SourceSansPro-Light.ttf');
}
@font-face {
    font-family: 'titre-Bold';
    src: url('../font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

@font-face {
    font-family: 'Labeur-Regular';
    src: url('../font/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: 'Labeur-Bold';
    src: url('../font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}
@font-face {
    font-family: 'Labeur-SemiBold';
    src: url('../font/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}

html{
    font-size: 17px;
    padding: 0;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #EAE1DA;
    font-family: Labeur-Regular;
}
h1, h2, h3{
    font-family: titre-Light;
    font-weight: bold;
}

ul{
    list-style-type: none;
    padding-left: clamp(0.8em, 1.2vw, 6.6em);
}

a{
    color: #006678;
    text-decoration: none;
}

.text-link{
    font-family: Labeur-SemiBold;
}

.labeur-bold{
    font-family:Labeur-Bold !important; 
}

/******************** Header ********************/

.button-back{
    left: clamp(1em, 1.5vw, 7.5em);
    top: clamp(1em, 1.5vw, 7.5em);
    position: fixed;
    width: clamp(1.92em, 2.88vw, 14.4em);
    height: clamp(1.92em, 2.88vw, 14.4em);
    border-radius: 50%;
    background-color: rgba(255, 250, 246, 0.6);
    transition-duration: 0.3s;
    z-index: 100;
}
.button-back:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.svg-arrow{
    height: clamp(2em, 3vw, 15em);
    width: clamp(2em, 3vw, 15em);
}
.path-arrow{
    transform: translate(11px, 11px);
}

/******************** Container ********************/
.container-all{
    display: flex;
    min-height: calc(100vh - (100vw/8));
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.container-title-project{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: clamp(35px, 3.5%, 175px);
    margin-top: clamp(70px, 7%, 350px);
}
.title-img{
    width: clamp(1.95em, 3.6vw, 16.5em);
    height: auto;
}
.title-project{
    margin: 0;
    color: #2C302E;
    font-size: clamp(1.2em, 2.2vw, 10em);
}
.vertical { 
    border-left-width: 0.25vw; 
    border-left-style: solid;
    border-left-color: #474747;
    border-radius: 0.1vw;
    margin-left: clamp(4px, 2%, 80px);
    margin-right: clamp(4px, 2%, 80px);
}
.title-info{
    font-size: clamp(1.1em, 1.5vw, 8em);
    color: #474747;
    margin: 0;
}
.list-info{
    font-size: clamp(0.8em, 1.2vw, 6.6em);
    color: #474747;
    margin: 0;
}

@media screen and (min-width: 900px){
    .container-info{
        display: flex;
        width: 80vw;
        margin-bottom: clamp(35px, 3.5%, 175px);
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: center;
        align-content: center;
        overflow: hidden;
    }
    .container-info-phone{
        display: none;
    }
    .column-info{
        width: 40%;
    }
    .text-info{
        font-size: clamp(0.8em, 1.2vw, 6.6em);
        padding-left: clamp(0.8em, 1.2vw, 6.6em);
        padding-bottom: clamp(0.464em, 0.7vw, 3.828em);;
        padding-top: clamp(0.4em, 0.6vw, 3.3em);;
        color: #474747;
        margin: 0;
    }
    .link-info{
        width: clamp(0.8em, 1.2vw, 6.6em);
        margin-left: clamp(0.2em, 0.3vw, 1.65em);
        vertical-align: center;
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    .container-info{
        display: flex;
        width: 95vw;
        margin-bottom: clamp(35px, 3.5%, 175px);
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: center;
        align-content: center;
        overflow: hidden;
    }
    .container-info-phone{
        display: none;
    }
    .column-info{
        width: 40%;
    }
    .text-info{
        font-size: clamp(0.8em, 1.2vw, 6.6em);
        padding-left: clamp(0.8em, 1.2vw, 6.6em);
        padding-bottom: clamp(0.464em, 0.7vw, 3.828em);;
        padding-top: clamp(0.4em, 0.6vw, 3.3em);;
        color: #474747;
        margin: 0;
    }
    .link-info{
        transition: transform 0.5s;
        width: clamp(0.8em, 1.2vw, 6.6em);
        vertical-align: center;
    }
}
@media screen and (max-width: 690px){
    .container-info{
        display: none;
    }
    .container-info-phone{
        display: flex;
        width: 80vw;
        margin-bottom: clamp(35px, 3.5%, 175px);
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: hidden;
    }
    .vertical-info{
        display: none;
    }
    .column-info{
        width: 100%;
    }
    .text-info{
        font-size: clamp(0.8em, 1.2vw, 6.6em);
        padding-left: clamp(0.8em, 1.2vw, 6.6em);
        padding-bottom: clamp(0.8em, 1.2vw, 6.6em);;
        padding-top: clamp(0.4em, 0.6vw, 3.3em);;
        color: #474747;
        margin: 0;
    }
}


/******************** footer ********************/


footer{
    background-color: #EAE1DA;
}

.text-footer{
    position: relative;
    color:#FFFAF6;
    z-index: 100;
    font-family: titre-Light;
    font-size: clamp(0.8em, 1.2vw, 6.6em);
    width: 100%;
    text-align: center;
    margin: 0;
    top: 90%;
    transform: translateY(-90%);

}
@media screen and (min-width: 900px){
    .container-footer{
        height: calc(100vw / 8);
        background-image: url(../img/waveFooter.png);
        background-size: cover;
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    .container-footer{
        height: calc(100vw / 8);
        background-image: url(../img/waveFooterPhone.png);
        background-size: cover;
    }
}
@media screen and (max-width: 690px){
    .container-footer{
        height: calc(100vw / 5.538);
        background-image: url(../img/waveFooterPhone.png);
        background-size: cover;
    }

}