:root {
	--box-width:70%;
	--box-width-mg:calc((var(--box-width) / 2) * -1);
	--box-width-big:calc(var(--box-width) + 5%);
	--box-width-big-mg:calc(((var(--box-width) + 5%) / 2) * -1);
	--box-width-small:calc(var(--box-width) - 3%);
	--box-width-small-mg:calc(((var(--box-width) - 3%) / 2) * -1);
}

/******************** General ********************/

@font-face {
    font-family: 'titre-Light';
    src: url('../font/Source_Sans_Pro/SourceSansPro-Light.ttf');
}
@font-face {
    font-family: 'titre-Bold';
    src: url('../font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

@font-face {
    font-family: 'Labeur-Regular';
    src: url('../font/Source_Serif_Pro/SourceSerifPro-Regular.ttf');
}
@font-face {
    font-family: 'Labeur-SemiBold';
    src: url('../font/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf');
}

@font-face{
    font-family: 'Labeur-light-header';
    src: url('../font/Source_Sans_Pro/SourceSansPro-Light.ttf');
}
@font-face {
    font-family: 'Labeur-Bold-header';
    src: url('../font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

html{
    font-size: 17px;
    padding: 0;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #EAE1DA;
    font-family: Labeur-Regular;
}
h1, h2, h3{
    font-family: titre-Light;
    font-weight: bold;
}

a {
    color: #006678;
    text-decoration: none;
    font-family: Labeur-Regular;
}

.labeur-bold {
    font-family:Labeur-Bold-header !important; 
}
.dWUHVL {
    background-color: #EAE1DA !important; 
}

/******************** Header ********************/

.header{
    height: 100vh;
}
.bottom-header{
    margin-top:-2px;
}
@media screen and (max-width: 900px){
    .top-header{
        height: 80vh;
        background-color:#37312C;
        display: flex; 
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (min-width: 900px){
    .top-header{
        height: 60vh;
        background-color:#37312C;
        display: flex; 
        flex-direction: column;
        justify-content: center;
    }
}
    /********** Navbar **********/

@keyframes rotate360 {
	0% {transform:rotate(0);}
	100% {transform:rotate(360deg);}
}
@keyframes radius-ani-hover {
	0% {border-radius:100%;}
	10% {border-radius:100% 70% 100%;}
	20% {border-radius:91% 88% 75% 69%;}
	30% {border-radius:100% 100% 85%;}
	40% {border-radius:88% 100% 70%;}
	50% {border-radius:75% 100% 100%;}
	60% {border-radius:87% 78% 55% 84%;}
	70% {border-radius:79% 90% 80% 72%;}
	80% {border-radius:76% 92% 90% 77%;}
	90% {border-radius:83% 77% 99% 88%;}
	100% {border-radius:100%;}
}
@keyframes circle-size {
	0% {width:0; height:0;}
	50% {
		width:var(--box-width-big); height:var(--box-width-big);
		margin:var(--box-width-big-mg) 0 0 var(--box-width-big-mg);
	}
	70% {
		width:var(--box-width-small); height:var(--box-width-small);
		margin:var(--box-width-small-mg) 0 0 var(--box-width-small-mg);
	}
	100% {
		width:var(--box-width); height:var(--box-width);
		margin:var(--box-width-mg) 0 0 var(--box-width-mg);
	}
}


.navbar{
    display: flex;
    position: absolute;
    top: 1vw;
    left: 0;
    right: 0;
    z-index: 100;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.container-circle-nav {
    position: relative;
    width: inherit;
    margin: 0;
    margin-left: clamp(8px, 1.5%, 100px);
    margin-right: clamp(8px, 1.5%, 100px);
}
.text-nav {
    position: relative;
    z-index: 1;
    font-size: clamp(0.78em, 1.3vw, 6.5em);
    margin: 0;
    padding: 0;
    left: clamp(0.6em, 1vw, 5em);
    top: clamp(0.06em, 0.1vw, 0.5em);
    color: #FFFAF6;
    font-family: titre-Light;
}
.material-header{
    color:#006678;
    font-size: clamp(1.4em, 2vw, 10.6em) !important;
}

.box-wrap {
	position:absolute;
	width:clamp(1.8em, 3vw, 15em); 
    height:clamp(1.8em, 3vw, 15em);
	border-radius:100%;
}
.box-rorate {
	position:absolute;
    left:40%; 
    top:35%;
	border-radius:100%;
}
.box-rorate:before, .box-rorate:after {
	position:absolute;
	width:100%; 
    height:100%;
	border-radius:100%;
	content:"";
}
.box-rorate:before {left:-3%; top:-3%;}
.box-rorate:after {left:3%; top:3%;}

.box-rorate {
	background:#006678;
}
.anim-hover-1{
    	animation:
			circle-size 1.1s ease-in-out both,
			rotate360 3.5s linear infinite,
			radius-ani-hover 3.5s linear infinite;
}
.anim-hover-2{
    	animation:
			circle-size 1.3s ease-in-out both,
			rotate360 4.5s linear infinite,
			radius-ani-hover 5s linear infinite;
}
.anim-hover-3{
    	animation:
			circle-size 1.2s ease-in-out both,
			rotate360 3s linear infinite,
			radius-ani-hover 4s linear infinite;
}
.anim-hover-4{
    	animation:
			circle-size 1s ease-in-out both,
			rotate360 4s linear infinite,
			radius-ani-hover 3s linear infinite;
}

.box{
	position:absolute; 
    left:40%; 
    top:35%; 
    transform:translate(-50%, -50%);
	width:calc(var(--box-width) - 6%); 
    height:calc(var(--box-width) - 6%);
	background:#006678; border-radius:100%;
}
.box:before, .box:after {
	position:absolute; 
    left:-1%; 
    top:-1%;
	width:102%;
    height:102%;
	background:#006678;
	border-radius:100%;
	content:"";
}





@media screen and (max-width: 900px){
    .navbar{
        display: none;
    }
    .menu-button{
        position: absolute;
        z-index: 110;
        margin-top: 10px;
        margin-left: 10px;
    }
}
@media screen and (min-width: 900px){
    @media screen and (max-height: 500px){
        .navbar{
            display: none;
        }
        .menu-button{
            position: absolute;
            z-index: 110;
            margin-top: 10px;
            margin-left: 10px;
        }
    }

    @media screen and (min-height: 500px){
        .menu-button{
            display: none;
        }
    }
}
    /********** Sidebar **********/

@keyframes animateside {
    from {left:-1200px; opacity:0}
    to {left:0; opacity:1}
}

.modal-sidebar{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    z-index: 120;
}
.logo-close-modal{ 
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.side-menu{
    position: fixed;
    width: 300px;
    top: 0;
    margin: 0;
    height: 100%;
    background-color: #37312C;
    animation-name: animateside;
    animation-duration: 0.3s;
}
.side-link{
    margin-top: 10%; 
    margin-left: auto;
    margin-right: auto;
    width: 203px;
    padding-left: 0;
    list-style-type: none;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-family: font1;
    color: #fffffd;
}
.side-elem-link{
    margin-top: 10%;
    margin-bottom: 10%;
}
    /********** Circle-Header **********/

.circle::after{
    content: '';
    padding-bottom: 100%;
    display: block;
} 

@media screen and (min-width: 900px){
    .circle{
        width: 65%;
        max-height: 200%;
        border-radius: 50%;
        background-color: #453D37;
        position: absolute;
        margin-left: -20%;
        margin-top: -45%;
    }
}

@media screen and (max-width: 900px) and (min-width: 690px){
    .circle{
        width: 125%;
        max-height: 200%;
        border-radius: 50%;
        background-color: #453D37;
        position: absolute;
        margin-left: -50%;
        margin-top: -125%;
    }
}
@media screen and (max-width: 690px){
    .circle{
        width: 125%;
        max-height: 150%;
        border-radius: 50%;
        background-color: #453D37;
        position: absolute;
        margin-left: -50%;
        margin-top: -125%;
    }
}

    /********** Button-Header **********/


@keyframes animate-scroll{
    0%{
        transform: translate(-50%,2vh);
        opacity: 0;
    }
    80%{
        transform: translate(-50%,4vh);
        opacity: 1;
    }
    100%{
        transform: translate(-50%,6vh);
    }
}
.scroll-wheel{
    position: relative;
    width: 5vh;
    height: 8vh;
    border-radius: 2.5vh;
    background: transparent;
    border: 0.4vh solid #006678;
}
.scroll-wheel:before{
    content:'';
    position: absolute;
    width: 0.6vh;
    height: 0.6vh;
    border-radius: 50%;
    background-color: #006678;
    left: 50%;
    top: 1vh;
    transform: translateX(-50%);
    animation: animate-scroll 1s linear infinite;
}
.scroll-wheel:after{
    content:'';
    position: absolute;
    width: 0.6vh;
    height: 1.5vh;
    border-radius: 50%;
    background-color: #006678;
    left: 50%;
    top: 0.5vh;
    transform: translateX(-50%);
    border-radius: 0.3vh;
}


    /********** info-Header **********/
.container-text-header{
    width: 50%;
}
.text-header{
    text-indent: 2em;
    margin: 0;
    width: 100%;
    color: #FFFAF6;
    font-size: clamp(0.8em, 1.2vw, 6.6em);
    font-family: Labeur-light-header;
}
.link-header{
    font-family: titre-bold !important;
}
.link-header:hover{
    text-decoration: underline;
}
.logo-header{
    width: clamp(1.95em, 3.6vw, 16.5em);
    height: auto;
}

.logo-sidebar{
    margin-right: clamp(1px, 1%, 20px);
    width: clamp(2.6em, 4.8vw, 22em);
    height: auto;
}

.circle-img::after{
    content: '';
    padding-bottom: 100%;
    display: block;
}
.flex-header{
    position: relative;
    display: flex;
    z-index: 100;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.container-img-title-header-phone{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    margin-bottom: 2px;
}
@media screen and (min-width: 900px){
    .mouse-scroll{
        position: absolute;
        bottom: 3.5vh;
        left: 50%;
        transform: translateX(-50%);
    }
    .container-logo-title{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .circle-img{
        width: 22%;
        border-radius: 50%;
        background-image: url(../img/photo-victor.png);
        background-size: cover;
        box-shadow: 0px 0px 50px 20px rgb(0, 0, 0, 0.25);  
    }
    .info-header-phone{
        display: none;
    }
    .info-header{
        width: 80%;
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .title-header{
        margin: 0;
        width: 100%;
        color: #FFFAF6;
        font-size: clamp(1.2em, 2.2vw, 10em);
        margin-bottom: clamp(0.2em, 0.5vw, 6.6em);
    }
    .text-header-bottom{
        text-indent: 2em;
        margin: 0;
        margin-top: clamp(0.4em, 0.6vw, 3.3em); 
        width: 100%;
        color: #FFFAF6;
        font-size: clamp(0.8em, 1.2vw, 6.6em);
        font-family: Labeur-light-header;
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    .mouse-scroll{
        position: absolute;
        bottom: 3.5vh;
        left: 50%;
        transform: translateX(-50%);
    }
    .container-logo-title{
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .circle-img{
        width: 30%;
        border-radius: 50%;
        background-image: url(../img/photo-victor.png);
        background-size: cover;
        box-shadow: 0px 0px 50px 20px rgb(0, 0, 0, 0.25);  
    }
    .info-header-phone{
        width: 85%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .info-header{
        display: none;
    }
    .title-header{
        margin: 0;
        color: #FFFAF6;
        font-size: clamp(1.2em, 2.2vw, 10em);
        margin-bottom: clamp(0.2em, 0.5vw, 6.6em);
    }
    .text-header-bottom{
        text-indent: 2em;
        margin: 0;
        margin-top: clamp(0.4em, 0.6vw, 3.3em); 
        width: 100%;
        color: #FFFAF6;
        font-size: clamp(0.8em, 1.2vw, 6.6em);
        font-family: Labeur-light-header;
    }
}
    
@media screen and (max-width: 690px){
    .mouse-scroll{
        display: none;
    }
    .container-logo-title{
        width: 100%;
        margin-top: 2px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .circle-img{
        width: 40%;
        border-radius: 50%;
        background-image: url(../img/photo-victor.png);
        background-size: cover;
        box-shadow: 0px 0px 50px 20px rgb(0, 0, 0, 0.25);  
    }
    .info-header-phone{
        width: 85%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .info-header{
        display: none;
    }
    .title-header{
        margin: 0;
        color: #FFFAF6;
        font-size: clamp(1.2em, 2.2vw, 10em);
        margin-bottom: clamp(0.2em, 0.5vw, 6.6em);
    }
    .text-header-bottom{
        text-indent: 2em;
        margin: 0; 
        width: 100%;
        color: #FFFAF6;
        font-size: clamp(0.8em, 1.2vw, 6.6em);
        font-family: Labeur-light-header;
    }
}

    /********** button-top **********/

.button-top{
    right: clamp(1em, 1.5vw, 7.5em);
    bottom: clamp(1em, 1.5vw, 7.5em);
    position: fixed;
    width: clamp(1.92em, 2.88vw, 14.4em);
    height: clamp(1.92em, 2.88vw, 14.4em);
    border-radius: 50%;
    background-color: rgba(255, 250, 246, 0.6);
    transition-duration: 0.3s;
    z-index: 100;
}
.button-top:hover{
    transform: scale(1.2);
}
.svg-arrow{
    height: clamp(2em, 3vw, 15em);
    width: clamp(2em, 3vw, 15em);
}
.path-arrow{
    transform: translate(10px, 11px);
}

    /********** circle-title **********/

.container-title {
    z-index: 100;
    position: relative;
    width: inherit;
    margin: 0;
    left: clamp(-15em, -3vw, -1.8em);
}
.circle-title {
    position: absolute;
    width: clamp(3.6em, 6vw, 30em);
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #AE8B6F;
    margin: 0;
}
.circle-title::after{
    content: '';
    padding-bottom: 100%;   
    display: block;
    margin: 0;
}
.title-niv2 {
    position: absolute;
    z-index: 1;
    font-size: clamp(1.2em, 2vw, 10em);
    margin: 0;
    padding: 0;
    left: clamp(1.8em, 3vw, 15em);
    top: clamp(0.738em, 1.23vw, 6.15em);
    color: #2C302E;
}



/******************** Container ********************/

   /********** container-skill **********/

.vertical { 
    border-left-width: 0.25vw; 
    border-left-style: solid;
    border-left-color: #474747;
    border-radius: 0.1vw;
    margin-left: clamp(4px, 2%, 80px);
    margin-right: clamp(4px, 2%, 80px);
}

.arrow-progress{
    transition: transform 0.5s;
    width: clamp(1.2em, 2vw, 10em);
    padding-bottom: clamp(5px, 2%, 100px);
    padding-top: clamp(5px, 2%, 100px);
    margin-right: clamp(10px, 4%, 200px);
}
.title-niv4{
    margin: 0;
    margin-bottom: clamp(2px, 1%, 40px);
    margin-top: clamp(2px, 1%, 40px);
    font-size: clamp(1em, 1.3vw, 7em);
    color: #474747;
}
.skill-niv2{
    width: 80%;
    margin: auto;
    padding-top: clamp(0.5em, 0.65vw, 3.5em);
    display: flex;
}
.title-main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.container-main-skill{
    padding-bottom: clamp(10px, 2.5%, 250px);
    padding-top: clamp(10px, 2.5%, 250px);
    background-color: #D2C0B1;
    margin-bottom: clamp(20px, 5%, 500px);
    border-radius: clamp(15px, 1vw, 375px);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main-skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.container-skill{
    background-image: linear-gradient(to bottom, #EAE1DA 1%, #D2C0B1 80%);
    margin-top: clamp(25px, 2.5%, 125px);
    overflow-x:hidden;
}
.wave-skill{
    margin-top: -2px;
}
.material-skill{
    font-size: clamp(1.4em, 2vw, 10.6em) !important;
    color: #474747;
    margin-left: clamp(0.35em, 0.5vw, 2.6em);
}
@media screen and (max-width: 690px){
    .column-skill{
        width: 100%;
    }
    .flex-skill{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        margin-left:5%;
        margin-right:5%;
        align-items: flex-start;
        padding-top: clamp(70px, 7%, 350px);
        padding-bottom: clamp(100px, 5%, 500px);
    }
    .title-niv3 {
        margin: 0;
        width: clamp(9.5em, 10vw, 80em);
        font-size: clamp(1.1em, 1.5vw, 8em);
        color: #474747;
        padding-left: 5px;
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    .column-skill{
        width: 45%;
    }
    .flex-skill{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        margin-left:5%;
        margin-right:5%;
        align-items: flex-start;
        padding-top: clamp(70px, 7%, 350px);
        padding-bottom: clamp(100px, 5%, 500px);
    }
    .title-niv3{
        margin: 0;
        width: clamp(11em, 15vw, 80em);
        font-size: clamp(1.1em, 1.5vw, 8em);
        color: #474747;
        padding-left: 10px; 
    }
}
@media screen and (min-width: 900px){
    .column-skill{
        width: 45%;
    }
    .flex-skill{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        margin-left:15%;
        margin-right:15%;
        align-items: flex-start;
        padding-top: clamp(70px, 7%, 350px);
        padding-bottom: clamp(100px, 5%, 500px);
    }
    .title-niv3{
        margin: 0;
        width: clamp(11em, 15vw, 80em);
        font-size: clamp(1.1em, 1.5vw, 8em);
        color: #474747;
        padding-left: 10px; 
    }
}


    /********** container-project **********/

.project-img-text{
    position: relative;
    display: flex;
    flex-direction: column;
}
.text-project{
    position: absolute;
    bottom: 0;
    padding-left:1vw;
    padding-bottom:1vw;
}
.title-project{
    font-size: clamp(1.1em, 1.5vw, 8em);
    font-family: titre-Light; 
    margin: 0;
    vertical-align: bottom;
}
.info-project{
    font-size: clamp(0.8em, 1.2vw, 6.6em);
    font-family: titre-Light; 
    color: #FFFAF6;
    margin: 0;
    vertical-align: bottom;
}
.date-project{
    color: #FFFAF6;
    font-family: titre-Light;
    font-size: clamp(0.8em, 1.2vw, 6.6em);
    font-weight: normal;

}
.svg-more-projects{
    width: clamp(1.6em, 2.4vw, 13.2em);
}
.container-link-project{
    margin-top: clamp(0.8em, 1.2vw, 6.6em);
    text-align: center;
}

#img-project1{
    background-image: url(../img/projets/ux-ui/exemples-maquette.png);
    background-size: cover;
}
#img-project2{
    background-image: url(../img/projets/porfolio/maquette-hp.png);
    background-size: cover;
}
#img-project3{
    background-image: url(../img/projets/star-hunt/logo-star-hunt.png);
    background-size: cover;
}
#img-project4{
    background-image: url(../img/projets/grand-projet/dc-logo-modif.png);
    background-size: cover;
}
#img-project5{
    background-image: url(../img/projets/infographie/affiche-hp.png);
    background-size: cover;
}
#img-project6{
    background-image: url(../img/projets/portfolio-video/portfolio-video.jpg);
    background-size: cover;
}

@media screen and (min-width: 900px){
    .gradient-project{
        position: absolute;
        width: 100%;
        height: 40vw;
        background-image: linear-gradient(to bottom, #EAE1DA 40%, #D2C0B1 80%);
    }
    
    .container-opacity-text{
        opacity: 0;
        transition: opacity 0.2s;
    }
    .line-projects{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .container-projects{
        width: 80vw;
        margin: auto;
        padding-top: clamp(70px, 7%, 350px);
        overflow:hidden;
    }
    .link-project{
        margin: 1vw;
    }
    .img-project{
        height: 20vw;
        width: 20vw;
        border-radius: clamp(1.2em, 0.6vw, 9.9em);
        transition: transform 0.2s;
    }
    .text-project{
        position: absolute;
        bottom: 0;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }
    .scale{
        transform: scale(1.1);
    }
    .opacity-project{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.80);
        border-radius: clamp(1.2em, 0.6vw, 9.9em);
        transition: transform 0.2s;
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    
    .gradient-project{
        position: absolute;
        width: 100%;
        height: 48vw;
        background-image: linear-gradient(to bottom, #EAE1DA 40%, #D2C0B1 80%);
    }
    
    .container-opacity-text{
        opacity: 1;
        transition: opacity 0.2s;
    }
    .line-projects{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .container-projects{
        width: 90vw;
        margin: auto;
        padding-top: clamp(70px, 7%, 350px);
        overflow:hidden;
    }
    .link-project{
        margin: 0.5vw;
    }
    .img-project{
        height: 25vw;
        width: 25vw;
        border-radius: clamp(1.2em, 0.6vw, 9.9em);
        transition: transform 0.2s;
    }
    .text-project{
        position: absolute;
        bottom: 0;
        padding-left: 2vw;
        padding-bottom: 2vw;
    }
    .title-project-to-large{
        width: 77.5%;
    }
    .scale{
        transform: scale(1);
    }
    .opacity-project{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.70);
        border-radius: clamp(1.2em, 0.6vw, 9.9em);
        transition: transform 0.2s;
    }
}
@media screen and (max-width: 690px){
    
    .container-opacity-text{
        opacity: 1;
        transition: opacity 0.2s;
    }
    .line-projects{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .container-projects{
        width: 80vw;
        margin: auto;
        padding-top: clamp(70px, 7%, 350px);
        overflow:hidden;
    }
    .link-project{
        margin: 1.5vw;
    }
    .img-project{
        height: 70vw;
        width: 70vw;
        border-radius: clamp(1.2em, 0.6vw, 9.9em);
        transition: transform 0.2s;
    }
    .text-project{
        position: absolute;
        bottom: 0;
        padding-left: 3vw;
        padding-bottom: 3vw;
    }
    .scale{
        transform: scale(1);
    }
    .opacity-project{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.60);
        border-radius: clamp(1.2em, 0.6vw, 9.9em);
        transition: transform 0.2s;
    }
}

.opacity{
    opacity:1;
}

    /********** container-experience **********/

@keyframes rotate-view-more{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.title-experience{
    font-size: clamp(1.1em, 1.5vw, 8em);
    color: #474747;
    margin: 0;
}
.animate-link{
    animation: rotate-view-more 1s;
}

#experiences{
    margin-top: clamp(50px, 5%, 250px);
}

@media screen and (min-width: 900px){
    .container-experience{
        display: flex;
        width: 80vw;
        margin: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: center;
        align-content: center;
        padding-top: clamp(70px, 7%, 350px);
        overflow-x: hidden;
    }
    .column-experience{
        width: 40%;
    }
    .text-experience{
        font-size: clamp(0.8em, 1.2vw, 6.6em);
        padding-left: clamp(0.8em, 1.2vw, 6.6em);
        padding-bottom: clamp(0.464em, 0.7vw, 3.828em);;
        padding-top: clamp(0.4em, 0.6vw, 3.3em);;
        color: #474747;
        margin: 0;
    }
    .link-experience{
        width: clamp(0.8em, 1.2vw, 6.6em);
        margin-left: clamp(0.2em, 0.3vw, 1.65em);
        vertical-align: center;
    }
    .text-link{
        display: none;
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    .container-experience{
        display: flex;
        width: 95vw;
        margin: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: center;
        align-content: center;
        padding-top: clamp(70px, 7%, 350px);
        overflow-x: hidden;
    }
    .column-experience{
        width: 40%;
    }
    .text-experience{
        font-size: clamp(0.8em, 1.2vw, 6.6em);
        padding-left: clamp(0.8em, 1.2vw, 6.6em);
        padding-bottom: clamp(0.464em, 0.7vw, 3.828em);;
        padding-top: clamp(0.4em, 0.6vw, 3.3em);;
        color: #474747;
        margin: 0;
    }
    .link-experience{
        transition: transform 0.5s;
        width: clamp(0.8em, 1.2vw, 6.6em);
        vertical-align: center;
    }
    .text-link{
        font-family: Labeur-SemiBold;
    }
    .svg-link{
        display: none;
    }
}
@media screen and (max-width: 690px){
    .container-experience{
        display: flex;
        width: 80vw;
        margin: auto;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;;
        padding-top: clamp(70px, 7%, 350px);
        overflow-x: hidden;
    }
    .vertical-experience{
        display: none;
    }
    .column-experience{
        width: 100%;
    }
    .text-experience{
        font-size: clamp(0.8em, 1.2vw, 6.6em);
        padding-left: clamp(0.8em, 1.2vw, 6.6em);
        padding-bottom: clamp(0.8em, 1.2vw, 6.6em);;
        padding-top: clamp(0.4em, 0.6vw, 3.3em);;
        color: #474747;
        margin: 0;
    }
    .text-link{
        font-family: Labeur-SemiBold;
    }
    .svg-link{
        display: none;
    }
}

    /********** container-contact **********/

.container-contact{
    margin-top: clamp(50px, 5%, 250px);
    background-image: linear-gradient(to bottom, #EAE1DA 1%, #D2C0B1 80%)
}
.link-contact{
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: clamp(2.4em, 3.6vw, 20.2em);
    margin-bottom: clamp(2.4em, 3.6vw, 20.2em);
}
.svg-contact{
    transition: transform 0.5s;
    height: clamp(1.2em, 2vw, 10em);
}
.container-svg-phone{
    width: clamp(1.2em, 2vw, 10em);
    height: clamp(1.2em, 2vw, 10em);
    text-align: center;
}
.text-contact{
    margin: 0;
    padding: 0;
    margin-left: clamp(0.4em, 0.6vw, 3.3em);
    font-family: titre-Light;
    font-size: clamp(0.8em, 1.2vw, 6.6em);
    color: #474747; 
}
#link-linkedin{
    width: clamp(6.8em, 10.2vw, 56.1em);
}
#link-phone{
    width: clamp(8em, 12vw, 66em);
}
#link-mail{
    width: clamp(11.2em, 16.8vw, 92.4em);
}

@media screen and (min-width: 900px){
    .flex-contact{
        display: flex;
        width: 80%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: clamp(70px, 7%, 350px);
        padding-bottom: clamp(100px, 5%, 500px);
    }
    .contact-left{
        text-align: end;
        width: 40%;
        margin-right: 5%;
    }
    .contact-right{
        width: 40%;
        height: 100%;
        margin-left: 5%;
    }
    .cv{
        width: 70%;
        height: auto;
        text-align: center;
        filter: brightness(85%) drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.25));
        border-radius: clamp(0.4em, 0.6vw, 3.3em);
        transition: transform 0.3s, filter 0.3s;  
    }
    .link-contact{
        display: flex;
        align-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-top: clamp(2.4em, 3.6vw, 20.2em);
        margin-bottom: clamp(2.4em, 3.6vw, 20.2em);
    }
    .cv:hover{
        transform: scale(1.1);
        filter: brightness(100%) drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.25));
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    .flex-contact{
        display: flex;
        width: 100%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-top: clamp(70px, 7%, 350px);
        padding-bottom: clamp(100px, 5%, 500px);
    }
    .contact-left{
        text-align: end;
        width: 42.5%;
        margin-right: 2.5%;
    }
    .contact-right{
        width: 42.5%;
        height: 100%;
        margin-left: 2.5%;
    }
    .cv{
        width: 80%;
        height: auto;
        text-align: center;
        filter: brightness(85%) drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.25));
        border-radius: clamp(0.4em, 0.6vw, 3.3em);
        transition: transform 0.3s, filter 0.3s;  
    }
    .link-contact{
        display: flex;
        align-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-top: clamp(2.4em, 3.6vw, 20.2em);
        margin-bottom: clamp(2.4em, 3.6vw, 20.2em);
    }
}
@media screen and (max-width: 690px){
    .flex-contact{
        display: flex;
        width: 100%;
        margin: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        padding-top: clamp(70px, 7%, 350px);
        padding-bottom: clamp(100px, 5%, 500px);
    }
    .contact-left{
        text-align: center;
        width: 50%;
    }
    .contact-right{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .cv{
        width: 100%;
        height: auto;
        text-align: center;
        filter: brightness(85%) drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.25));
        border-radius: clamp(0.4em, 0.6vw, 3.3em);
        transition: transform 0.3s, filter 0.3s;  
    }
    .link-contact{
        display: flex;
        align-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-top: clamp(1.2em, 1.8vw, 10.1em);
        margin-bottom: clamp(1.2em, 1.8vw, 10.1em);
    }
    
}

/******************** footer ********************/

footer{
    background-color: #D2C0B1;
}

.text-footer{
    position: relative;
    color:#FFFAF6;
    z-index: 100;
    font-family: titre-Light;
    font-size: clamp(0.8em, 1.2vw, 6.6em);
    width: 100%;
    text-align: center;
    margin: 0;
    top: 90%;
    transform: translateY(-90%);

}
@media screen and (min-width: 900px){
    .container-footer{
        height: calc(100vw / 8);
        background-image: url(../img/waveFooter.png);
        background-size: cover;
    }
}
@media screen and (max-width: 900px) and (min-width: 690px){
    .container-footer{
        height: calc(100vw / 8);
        background-image: url(../img/waveFooterPhone.png);
        background-size: cover;
    }
}
@media screen and (max-width: 690px){
    .container-footer{
        height: calc(100vw / 5.538);
        background-image: url(../img/waveFooterPhone.png);
        background-size: cover;
    }

}
